body {
  font-size: 20px;
  background-color: white;
  margin: 0;
}

/*Global*/
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: #059E9F;
  color: white;
  padding: 40px;
  font-weight: bold;
}

header p {
  font-size: 25px;
  font-style: italic;
}

nav {
  background: lightgrey;
  padding: 10px;
  font-weight: bold;
}

#menu li {
  display: inline;
  margin-left: 10px;
}

#menu li:after {
  content: "/";
  margin-left: 10px;
}

#main {
  font-size: 15px;
}

section {
  background: white;
  width: 55%;
  float: left;
  margin: 20px
}

.highlight {
  margin-bottom: 80px;
}

.highlight h1 {
  color: skyblue;
  font-weight: bold;
}

#dark {
  color: black;
}

#blue {
  color: skyblue;
}

aside {
  background: white;
  font-size: 15px;
  float: right;
  width: 35%;
  margin: 20px;
}

#sidebar h5, h6 {
  font-size: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  background: black;
  text-align: center;
  color: lightgrey;
  font-size: 10px;
  padding: 50px;
}

#footer-menu {
  color: white;
  font-size: 10px;
}

#footer-menu li {
  display: inline;
  margin-left: 20px;
}

#footer-menu li:after {
  content: "/";
  margin-left: 10px;
}